<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="CS" connectionString="Data Source=IB2016\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IB.net.My.MySettings.IBPortlandConnectionString" connectionString="Data Source=IB2016\SQLEXPRESS;Initial Catalog=IBPortland;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IB.net.My.MySettings.masterIBConfigCS" connectionString="Data Source=IB2016\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IB.net.My.MySettings.IBConnectionString" connectionString="Data Source=IBSERVER2016\SQLEXPRESS;Initial Catalog=IBPortland;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>