<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="IB.net.My.MySettings.IBPortlandConnectionString" connectionString="Data Source=IB2016\SQLEXPRESS;Initial Catalog=IBPortland;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="azIB.net.My.MySettings.IBPortlandConnectionString"
      connectionString="Data Source=indoorbillboard.database.windows.net;Initial Catalog=azIBPortland;User ID=;Password="
      providerName="System.Data.SqlClient" />
    <add name="IB.net.My.MySettings.masterIBConfigCS" connectionString="Data Source=IB2016\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="azIB.net.My.MySettings.masterIBConfigCS" connectionString="Data Source=indoorbillboard.database.windows.net;Initial Catalog=master;User ID=;Password="
      providerName="System.Data.SqlClient" />
    <add name="IB.net.My.MySettings.IBConnectionString" connectionString="Data Source=IBSERVER2016\SQLEXPRESS;Initial Catalog=IBPortland;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="azIB.net.My.MySettings.IBConnectionString" connectionString="Data Source=indoorbillboard.database.windows.net;Initial Catalog=azIBPortland;User ID=;Password="
      providerName="System.Data.SqlClient" />
    <add name="IB.net.My.MySettings.indoorbillboard" connectionString="Data Source=indoorbillboard.database.windows.net;Initial Catalog=IBPortland;User ID=ibadmin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>