<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Global - indoorbillboard.database.windows.net" connectionString="Data Source=indoorbillboard.database.windows.net;Initial Catalog=Global;User ID=ibadmin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>